@model AlvarezInmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Detalles del pago";
}

<h1>Detalle del pago</h1>

<div class="container">
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NumeroPago)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumeroPago)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Fecha)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Fecha)
    </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Importe)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Importe)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ContratoId)
    </dt>
    
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ContratoId)
    </dd>
    <dt class="col-sm-2">
        Inquilino
    </dt>
    <dd class="col-sm-10">
        @if(Model.Contrato!.Inquilino != null){
				@(Model.Contrato.Inquilino.ToString())}
    </dd>
        <dt class="col-sm-2">
        Inmueble
    </dt>
    <dd class="col-sm-10">
        @if(Model.Contrato!.Inmueble != null){
				@(Model.Contrato.Inmueble.Direccion)}
    </dd>
</dl>
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>Volver al listado</a>
</div>