@model IEnumerable<AlvarezInmobiliaria.Models.Pago>

    @{
        ViewData["Title"] = "Listado de Pagos";
    }

        <h1>Listado de Pagos</h1>
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-cash-coin"></i> Nuevo Pago</a>
        <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContratoId)
                </th>
                <th>
                    Direccion del inmueble
                </th> 
                <th>
                    Inquilino
                </th>               
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContratoId)
                    </td>
                    <td>
                        @(item.Contrato!.Inmueble!.Direccion)
                    </td>
                    <td>
                        @(item.Contrato!.Inquilino!.ToString())
                    </td>
                    <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" title="Detalles"><i class="bi bi-info-circle"></i>Detalles</a>
                    @if(User.IsInRole("Administrador"))
                    {
				    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Editar"><i class="bi bi-pencil"></i>Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar"><i class="bi bi-trash"></i>Eliminar</a>
                    }
			    </td>
            </tr>
            }
        </tbody>
    </table>



