@model IEnumerable<AlvarezInmobiliaria.Models.Pago>

    @{
        ViewData["Title"] = "Listado de Pagos";
        Contrato contrato = ViewBag.Contrato ?? new Contrato();
    }

        <h1>Listado de Pagos del contrato @contrato.Id</h1>
            <p>

        <button  type="button" id="crearModal" class="btn btn-primary" style="width:200px" data-target="#myModal">Crear nuevo</button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Pago" aria-hidden="true" data-url="@Url.Action("CreateModal","Pago", new { id = contrato.Id })"></div>
    </p>
        
        <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Finalización
                </th>
                <th>
                    Inquilino
                </th> 
                <th>
                    Dirección 
                </th>               
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importe)
                    </td>
                    <td>
                        @(item.Contrato!.FechaInicio.Date.ToShortDateString())
                    </td>
                    <td>
                        @(item.Contrato!.FechaFin.Date.ToShortDateString())
                    </td>
                    <td>
                        @(item.Contrato!.Inquilino!.ToString())
                    </td>
                    <td>
                        @(item.Contrato!.Inmueble!.Direccion)
                    </td>
                    <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" title="Detalles"><i class="bi bi-info-circle"></i>Detalles</a>
                    @if(User.IsInRole("Administrador"))
                    {
				    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Editar"><i class="bi bi-pencil"></i>Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar"><i class="bi bi-trash"></i>Eliminar</a>
                    }
			    </td>
            </tr>
            }
        </tbody>
    </table>
<script type="text/javascript">

    $(document).ready(function () {

        $('#crearModal').click(function () {

            var url = $("#myModal").data("url");
            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal("show");

            });

        });

    });

</script>


