@model IEnumerable<AlvarezInmobiliaria.Models.Inmueble>
    @{
        ViewData["Title"] = "Inmuebles";
    }
    <h1>Inmuebles</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-house-add"></i>Nuevo inmueble</a>
    </p>
    <div class="row">
    <div class="col-md-12">
        <form id="buscarFechas" action="@Url.Action("BuscarPorFecha", "Inmueble")" method="get">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <span class="form-text">
                        DESDE:
                    </span>
                    <input type="Date" id="desde" class="form-control">
                </div>
                <div class="col-auto">
                    <span class="form-text">
                        HASTA:
                    </span>
                    <input type="Date" id="hasta" class="form-control">
                </div>
                <div class="col-auto">
                    <br>
                    <button type="submit" class="btn btn-primary">BUSCAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ambientes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PropietarioId)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambientes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoNombre)
                    </td>
                    <td>
                        @if(item.Propietario != null)
                        {
                        @(item.Propietario.ToString())
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" title="Detalles"><i class="bi bi-info-circle"></i>Detalles</a>
                        <a class="btn btn-secondary" asp-controller="Contrato" asp-action="VerContratos" asp-route-id="@item.Id"><i class="bi bi-files-alt"></i>Ver Contratos</a>
                        @if(User.IsInRole("Administrador"))
                        {
				        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Editar"><i class="bi bi-pencil"></i>Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar"><i class="bi bi-trash"></i>Eliminar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>