@model IEnumerable<AlvarezInmobiliaria.Models.Inmueble>
    @{
        ViewData["Title"] = "Inmuebles por propietario";
    }
    <h1>Inmuebles a su nombre</h1>

    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ambientes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PropietarioId)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambientes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoNombre)
                    </td>
                    <td>
                        @if(item.Propietario != null)
                        {
                        @(item.Propietario.ToString())
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" title="Detalles"><i class="bi bi-info-circle"></i>Detalles</a>
                        @if(User.IsInRole("Administrador"))
                        {
				        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Editar"><i class="bi bi-pencil"></i>Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar"><i class="bi bi-trash"></i>Eliminar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>