@model AlvarezInmobiliaria.Models.Inquilino

@{
	ViewData["Title"] = "Detalles del inquilino";
}

<div class="d-flex align-items-center justify-content-between">
	<h1>Detalle del propietario</h1>
</div>
</div>

<hr />
<div class="container">
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-md-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-md-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Apellido)
		</dt>
		<dd class="col-md-10">
			@Html.DisplayFor(model => model.Apellido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Dni)
		</dt>
		<dd class="col-md-10">
			@Html.DisplayFor(model => model.Dni)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Telefono)
		</dt>
		<dd class="col-md-10">
			@Html.DisplayFor(model => model.Telefono)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-md-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
	</dl>
	<a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>Volver al listado</a>
	<a href='@Url.Action("Edit", new {id = Model.Id})' class="btn btn-success"><i class="bi bi-pencil">Editar</i></a>
</div>