@model AlvarezInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Editar Contrato";
}

<h1> Editar Contrato</h1>

<hr />
<h4>@Html.DisplayFor(model => model.FechaInicio)</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control"/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control"/>
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alquiler" class="control-label"></label>
                <input asp-for="Alquiler" class="form-control" placeholder="Monto del alquiler"/>
                <span asp-validation-for="Alquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select class="form-control" name="InmuebleId">
                    @if(ViewBag.Inmuebles != null)
                    {
                        @foreach (var item in (IList<Inmueble>)ViewBag.Inmuebles)
                        {
                           @:<option @(item.Id == Model.InmuebleId ? "Selected": "") value="@item.Id">@item.Direccion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <select class="form-control" name="InquilinoId">
                    <option value="" selected disabled>Seleccione un Inquilino...</option>
                    @if(ViewBag.Inquilinos != null)
                    {
                        @foreach (var item in (IList<Inquilino>)ViewBag.Inquilinos)
                        {
                             @:<option @(item.Id == Model.InquilinoId ? "Selected": "") value="@item.Id">@item.ToString()</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select class="form-control" name="Estado">
                    <option value="Vigente">Vigente</option>
                    <option value="Terminado">Terminado</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <br/>
            <div>
                <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left"></i>Volver al listado</a>
                <input type="submit" value="Editar" class="btn btn-success">
            </div>
        </form>
    </div>
</div>