@model IEnumerable<AlvarezInmobiliaria.Models.Contrato>
    @{
        ViewData["Title"] = "Contratos vigentes";
    }

<h3>Contratos vigentes</h3>

<table class="table table-striped" style="width:100%">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FechaInicio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FechaFin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Alquiler)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InmuebleId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InquilinoId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FechaInicio)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FechaFin)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Alquiler)
			</td>
			<td>
				@(item.Inmueble?.Direccion)
			</td>
			<td>
				@(item.Inquilino?.Nombre + " " + item.Inquilino?.Apellido)
			</td>
			<td>
				<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm" title="Detalles"><i class="bi bi-info-circle"></i>Detalles</a>

				<a asp-action="PagosPorContrato" asp-controller="Pago" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Pagos"><i class="bi bi-cash-coin"></i>Ver pagos</a>
				
				@if(User.IsInRole("Administrador"))
				{
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" title="Editar"><i class="bi bi-pencil"></i>Editar</a>

					<a asp-action="Renovar" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"  title="Renovar"><i class="bi bi-clipboard-plus"></i>Renovar</a>

					<a asp-action="Cancelar" asp-route-id="@item.Id" class="btn btn-dark btn-sm"  title="Cancelar"><i class="bi bi-x-circle"></i>Cancelar</a>
						
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Eliminar"><i class="bi bi-trash"></i>Eliminar</a>
				}
			</td>
		</tr>
}
	</tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>Volver al listado</a>
</div>