@model AlvarezInmobiliaria.Models.Usuario
@{
    ViewData["Title"] = "Eliminar";
}
<div class="d-flex align-items-center justify-content-between">
    <h1>Eliminar Usuario</h1>
</div>
<div class="detail-container"></div>
<hr />
<p>
    <strong>@Html.DisplayNameFor(model => model.Nombre): </strong>
    @Html.DisplayFor(model => model.Nombre)
</p>
<p>
    <strong>@Html.DisplayNameFor(model => model.Apellido): </strong>
    @Html.DisplayFor(model => model.Apellido)
</p>
<p>
    <strong>@Html.DisplayNameFor(model => model.Email): </strong>
    @Html.DisplayFor(model => model.Email)
</p>
<p>
    <strong>@Html.DisplayNameFor(model => model.Rol): </strong>
    @Html.DisplayFor(model => model.RolNombre)
</p>
	<br/>
	<form asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
		<input type="submit" value="Eliminar" class="btn btn-danger" />
		<a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left"></i>Volver al listado</a>
	</form>
</div>
@section scripts
{
	<script>
		document.getElementById('deleteForm').addEventListener('submit', function (e){
			e.preventDefault();
			swal({
				title: 'Eliminar',
				text: 'Esta seguro que desea cancelar este usuario?',
				icon: 'warning',
				buttons: ["Cancelar", "Ok"],
				dangerMode: true,
			}).then((confirmed) => {
				if (confirmed){
					this.submit();
				}
				})
		});
	</script>
}